/* Estilos base */
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6; /* Aumenta el espacio entre líneas para mayor legibilidad */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    font-weight: 600;
}

h1 {
    font-weight: 300; /* Peso ligero (fino) */
    text-align: center;
    color: #555;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 45px;
}

p {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #555;
}

/* Navegación */
header {
    background-color: #f9f9f9;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Secciones */
.section-content {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que los videos se ajusten a múltiples líneas */
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

.video-item {
    max-width: 300px;
    text-align: center;
}

.video-item iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Ajustes para la imagen de perfil */
.profile-pic {
    width: 100%; /* Ancho al 100% de su contenedor */
    max-width: 600px; /* Ancho máximo que no sobrepase este valor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.centered-content {
    text-align: center;
    margin: 20px 0;
}

/* Pie de página */
footer {
    background-color: #f9f9f9;
    color: #555; /* Cambia el color del texto a más oscuro para mejor contraste */
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

/* Publicaciones */
ul {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #3498db;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    h1 {
        font-size: 28px; /* Tamaño más pequeño en pantallas pequeñas */
    }

    h2 {
        font-size: 36px;
    }

    .video-item {
        max-width: 90%; /* Aumenta el ancho en pantallas pequeñas */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 40px;
    }
}

@media (min-width: 901px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 45px;
    }
}
